body {
  color: #2e3e48;
  font-size: 13px;
  font-family: Arial, Helvetica, 'Open Sans', sans-serif;
  background-color: #fafafa;
}

.card {
  width: 40%;
  height: 20%;
  padding: 24px;
  box-sizing: border-box;
  display: block;
  background: #fff;
  border-radius: 8px; 
  position: relative;
  background-size: cover;
  background-clip: padding-box;
  min-height: 160px;
}

.card--hasHoverShadow {
  transition: box-shadow .25s cubic-bezier(.4,0,.2,1),transform .25s cubic-bezier(.4,0,.2,1);
  transition-property: box-shadow, transform;
  transition-duration: 0.25s, 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: initial, initial;
}

.avatar {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  border-color: #fafafa;
  position: relative;
  background-color: #e4e9ed;
  background-position: center 42%;
  color: transparent;
  display: inline-block;
  vertical-align: middle;
}

.avatar--small {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  border-color: #fafafa;
  position: relative;
  background-color: #e4e9ed;
  background-position: center 42%;
  color: transparent;
  display: inline-block;
  vertical-align: middle;
}

.comment--name {
  font-weight: bold;
  padding-left: 20px;
}

.comment {
  padding: 10px;
}

.comment--text {
  padding-left: 56px;
}

.comment--date {
  color: rgba(46,62,72,.6);
  font-size: 13px;
  font-family: Arial, Helvetica, 'Open Sans', sans-serif;
  padding-left: 56px; 
}

.replies {
  padding: 10px;
}

.replies--block {
  margin-top: 20px;
  margin-left: 56px;
  padding-left: 16px;
  border-left: 2px solid #e4e9ed;
}

.replies--text {
  padding-left: 44px;
}

.replies--date {
  color: rgba(46,62,72,.6);
  font-size: 13px;
  font-family: Arial, Helvetica, 'Open Sans', sans-serif;
  padding-left: 44px;
}

.likecount {
  float: right;
  color: rgba(46,62,72,.6);
  font-size: 13px;
  font-family: Arial, Helvetica, 'Open Sans', sans-serif;
  border: none;
  outline: none;
}